<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603856732437-12qvpdb5mm4jq96r3gid7skh54vdd99u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603856732437-12qvpdb5mm4jq96r3gid7skh54vdd99u</string>
	<key>API_KEY</key>
	<string>AIzaSyCkJC7sbE2S7C1iXcobWkWRBM1b9OPFGEE</string>
	<key>GCM_SENDER_ID</key>
	<string>603856732437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noticiasnahora</string>
	<key>PROJECT_ID</key>
	<string>noticiasnahora-1dcee</string>
	<key>STORAGE_BUCKET</key>
	<string>noticiasnahora-1dcee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603856732437:ios:9bbcb268c553a6a9dfa91c</string>
</dict>
</plist>